:root {
  --dark-brown: #5a2e0e;
  --wallpaper: #475365;
  --brown: #654A47;
  --shadow: rgba(65, 64, 50, 0.2);
  --light-blue: #a8f5f8;
}

body {
  display: flex;
  cursor: crosshair;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 0vmin 0;
  background-color: var(--dark-brown);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-moz-selection { background:transparent; }
::selection { background:transparent; }

/* Main Page */

.main-container {
    display: flex;
}

.top-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 70%;
    right: 0%;
    background-color: pink;
}

.animal {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left: 35%;
}

/* Silent Mode */

.silent-mode {
    z-index: 1;
    display: none;
    background-color: var(--shadow);
    color: black;
    width: 20%;
    height: 23%;
    top: 3%;
    left: 5%;
    position: absolute;
    font-size: large;
    text-align: center;
}

#gauge {
    width: 50%;
}

/* Guess Counter */

#container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    background-color: white;
}

.pawprint-image {
    object-fit: contain;
    width: 90%;
    height: 90%;
}

#guesses-remaining {
    z-index: 1;
    display: none;
    color: black;
    top: 2%;
    left: 75%;
    position: absolute;
    font-size: x-large;
    text-align: center;
}


/* Start Modal */

button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    border: solid 6px var(--wallpaper);
    background-color: pink;
    width: 25%;
    cursor:grab;
}

.button-group-container {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    top: 5%;
    left: 50%;
    z-index: 3;
    background-color: var(--light-blue);
    border: solid 10px var(--brown);
    text-align: center;
    width: 60vw;
    height: 90vh;
    font-size: x-large;
}

#modal-image-1 {opacity: 1; width: 40%;}
#modal-image-2 {opacity: 0.5; width: 40%;}
#modal-image-3 {opacity: 0.25; width: 40%;}

/* Furniture */

.furniture-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
    right: 0%;
    width: 100%;
    background: var(--wallpaper);
    border-top: 2vh solid var(--dark-brown);
    box-shadow:  0 -20px 7px -7px var(--dark-brown) inset;
    -webkit-box-shadow:  0 -20px 7px -7px var(--dark-brown) inset;
    -moz-box-shadow:  0 -20px 7px -7px var(--dark-brown) inset;
    padding-top: 2%;
}

.lamp {
    position: absolute;
    bottom: -10%;
    right: 50%;
    z-index: 2;
    transform-origin: 50% 0%;
}

.rug {
    position: absolute;
    bottom: 5%;
    left: 35%;
    transition: transform 0.2s ease-in-out;
}

.rug:hover {
    transform: translate(0px, -10px);
}

.computer-container {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.computerfuzz {
    position: absolute;
    top: 10.5%;
    left: 15%;
    opacity: 0;
}

.computerfuzz:hover {
    animation-name: computerglitch;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

/* Bookshelf Items*/

.bookshelf-container {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.book-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.flex1 {
    position: absolute;
    width: 85%;
    height: 25%;
    top: 7%;
    right: 5%;
}

.flex2 {
    position: absolute;
    width: 85%;
    height: 25%;
    top: 39%;
    right: 5%;
}

.flex3 {
    position: absolute;
    width: 85%;
    height: 25%;
    top: 70%;
    right: 5%;
}

.abc-book {
    position: absolute;
    left: -4%;
    top: -5%;
}

.purple-book {
    position: absolute;
    left: 14%;
    bottom: -4%;
}

.white-green-books {
    position: absolute;
    left: 43%;
    bottom: 1%;
}

.picture-frame {
    position: absolute;
    bottom: -6%;
    left: 50%;
}

.book-timer {
    position: absolute;
    bottom: 4%;
    left: 7%;
}

.plant {
    position: absolute;
    bottom: 4%;
    left: -2%;
}

.pencil {
    position: absolute;
    bottom: -3%;
    left: 30%;
}

.doll {
    position: absolute;
    bottom: 4%;
    left: 65%;
}



/* Animations  */

.swing {
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.shake:hover {
    animation-name: shake;
    animation-duration: 0.1s;
    animation-iteration-count: 5;
}

@keyframes swing {
    0% { transform: rotate(15deg);}
    10% { transform: rotate(30deg);}
    20% { transform: rotate(45deg);}
    30% { transform: rotate(25deg);}
    40% { transform: rotate(5deg);}
    50% { transform: rotate(-15deg);}
    60% { transform: rotate(-30deg);}
    70% { transform: rotate(-50deg);}
    80% { transform: rotate(-30deg);}
    90% { transform: rotate(-15deg);}
    100% { transform: rotate(0deg);}
}

@keyframes shake {
    0%   {}
    25%  {transform: rotate(2deg);}
    50%  {transform: rotate(0deg);}
    75%  {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
  }

  @keyframes computerglitch {
    0%   {opacity: 0}
    25%  {opacity: 0.5}
    50%  {opacity: 1}
    75%  {opacity: 0.5}
    100% {opacity: 0}
  }
  
